.user-card {
    width: 30em;
    margin: 0em auto 1em; 
    text-align: left;
    padding: 2em;
    height: 7em;
    background-color: #9A9EAB
}

#bgimg{
    height: 30%;
    width: 74.5em;
}

.material-icons {
    display: block;
}

#followers-card {
    width: 30em;
    text-align: left;
    padding: 2em;
}

.online {
    background-image: url('http://www.clipartmasters.com/clip-arts/783/green-circle-clip-art-783381.png');
    background-size: cover;
}