<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="mat-elevation-z2" id='toolbar'>
  <span>Chirpernator</span>
  <span class="space"></span>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink='/chirp-form'>Chirp</button>
  <button mat-menu-item routerLink='/list'>Thread</button>
  <button mat-menu-item routerLink='/signup'>Profile</button>
  <button mat-menu-item routerLink='/login'>Logout</button>
</mat-menu>

<router-outlet></router-outlet>