.space {
    flex: 1 1 auto;
  }

#toolbar {
  margin-bottom: 2em;

  button {
    margin: 0 1em;
  }

  #phone-icon {
    display: inline-block;
    width: 24ox;
    height: 21px;
    position: absolute;
    margin-left: 50%;
  }
}



