<mat-card style='color: #EC96A4' class='chirp-card'>
    <h2 class='h2' style='color: #5D535E'>CREATE ACCOUNT</h2>
  <mat-form-field>
    <input matInput placeholder='Email'>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder='Password'>
  </mat-form-field>
  <button mat-button style='color: #5D535E' routerLink='../user-account'>Sign Up</button>
  </mat-card>








<!-- <mat-card style='color: #EC96A4' class='chirp-card'>
  <h2 class='h2' style='color: #5D535E'>CREATE ACCOUNT</h2>
  <form novalidate [formGroup]='form' (ngSubmit)='spGetChirp()'>
    <mat-form-field>
      <input matInput placeholder='Email'>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder='Password'>
    </mat-form-field>
    <button mat-button style='color: #5D535E' routerLink='../user-account'>Sign Up</button>
  </form>
</mat-card> -->