
* {
    box-sizing: border-box;
    body{
        background-color:$background-color;
        .page{
            width:85%;
            @include borders;
            @include mp0;
            .toolbar{
                @include borders;
                color:$button-color;
                background-color: $border-color;
            }

        }

      }
}
.chirp-card {
    @include cards;
    @include mp1;
    @include borders;
    text-align: left;
    height: $card-height;
}
.form-card{
    @include cards;
    @include mp1;
    @include borders;
}
.nav-buttong{
    @include mp1;
}