@mixin cards{
    width: 85%;
    color: $font-color;
    background-color: $card-color;
}
@mixin borders{
    border: solid 2px $border-color;
}
@mixin mp1{
    margin:1em auto;
    padding:0;
}
@mixin mp0{
    margin:0 auto;
    padding:0;
}