/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;

}

.chirp-card {
    width: 40em;
    margin: 0em auto 1em; 
    text-align: left;
    padding: 2em;
    background-color: #F1F1F2;
}

.bkg-color {
    background-color: #EC96A4;
    height: 80em;
  }

body {
    background-color: #EC96A4;
}
