.example-container {
    display: inline-block;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    background-color: lightgray;
  }
  
  .example-container > * {
    width: 50%;
    border: 2px black;
  }
  